.d1{
    height:200px;
    background-color: aqua;
    font-size: 16px;
}
.d2{
    height:200px;
    background-color: red;
    font-size: 32px;
}
@media screen and (min-width:420px) and (max-width:600px){
    .d1,.d2{
      background-color: black;
      color:wheat;
      font-size: 8px;  
    }
}
@media screen and (min-width:601px) and (max-width:900px){
    .d1,.d2{
      background-color: black;
      color:rgb(232, 46, 14);
      font-size: 16px;  
    }
}