/*input:checked{
  width: 100px;
  height: 100px;
}
input:disabled{
    border: 2px solid red;
}
input:enabled{
    border: 2px solid green;
}
input:focus{
    background-color: yellow;
}
h2:empty{
    background-color: aqua;
    width:30px;
    height: 40px;
}
p:first-child{
    background-color: chartreuse;
}
h2:first-of-type{
    background-color: red;
}
button{
    background-color: burlywood;
    border: 2px solid black;
    padding:10px;
}
button:hover{
    background-color:blue;
    border: 2px solid black;
}
input:in-range{
    border:4px solid greenyellow;
}
input:invalid{
    background-color: red;
}
p:lang(it){
    background-color:palevioletred;
}
:not(p){
    border:2px solid red;
   
}*/
input:read-only{
    border: 3px solid green;
}
input:read-write{
    border: 3px solid rgb(18, 35, 132);
}
input:disabled{
    border: 2px solid red;
}
